# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Local files and caches
*.local
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Firebase service accounts and config files
firebase.json

# Miscellaneous
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
